## 버스 운행시간 예측 프로젝트
참고 : https://dacon.io/edu/1003

In [1]:
import pandas as pd

### 데이터 불러오기, 확인

In [4]:
test = pd.read_csv('C:/Users/endne/OneDrive/바탕 화면/파이썬/알고리즘/dataset/229611_버스 운행시간 예측 경진대회_data/test.csv')
train = pd.read_csv('C:/Users/endne/OneDrive/바탕 화면/파이썬/알고리즘/dataset/229611_버스 운행시간 예측 경진대회_data/train.csv')

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                210457 non-null  int64
 1   date              210457 non-null  object
 2   route_id          210457 non-null  int64
 3   vh_id             210457 non-null  int64
 4   route_nm          210457 non-null  object
 5   now_latitude      210457 non-null  float64
 6   now_longitude     210457 non-null  float64
 7   now_station       210457 non-null  object
 8   now_arrive_time   210457 non-null  object
 9   distance          210457 non-null  float64
 10  next_station      210457 non-null  object
 11  next_latitude     210457 non-null  float64
 12  next_longitude    210457 non-null  float64
 13  next_arrive_time  210457 non-null  int64
dtypes: float64(5), int64(4), object(5)
memory usage: 22.5+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91774 entries, 0 to 91773
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               91774 non-null  int64
 1   date             91774 non-null  object
 2   route_id         91774 non-null  int64
 3   vh_id            91774 non-null  int64
 4   route_nm         91774 non-null  object
 5   now_latitude     91774 non-null  float64
 6   now_longitude    91774 non-null  float64
 7   now_station      91774 non-null  object
 8   now_arrive_time  91774 non-null  object
 9   distance         91774 non-null  float64
 10  next_station     91774 non-null  object
 11  next_latitude    91774 non-null  float64
 12  next_longitude   91774 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 9.1+ MB

In [11]:
# 데이터를 살펴보니 총 14개의 열이 있네요! 하나하나 살펴보겠습니다.

# id: 해당 데이터에서의 고유한 ID
# date: 버스 운행 날짜
# route_id: 버스 노선 ID
# vh_id: 버스 ID
# route_nm: 버스 노선 실제 번호
# now_latitude: 현재 정류소의 위도
# now_longitude: 현재 정류소의 경도
# now_station: 현재 정류소 이름
# now_arrive_time: 현재 정류장에 도착한 시간
# distance: 현재 정류장에서 다음 정류장까지 실제 이동한 거리
# next_station: 다음 정류소 이름
# next_latitude: 다음 정류소의 위도
# next_longitude: 다음 정류소의 경도
# next_arrive_time: 다음 정류장에 도착할 때 까지 걸린 시간(단위: 초)을 의미하며, 우리가 구하고자 하는 값입니다.
# info() 함수를 이용해 데이터 결측치 및 변수들의 타입을 확인해 본 결과,
# train 데이터는 총 14개의 열과 210457개의 행으로 이루어져 있습니다.

In [9]:
submission = pd.read_csv('C:/Users/endne/OneDrive/바탕 화면/파이썬/알고리즘/dataset/229611_버스 운행시간 예측 경진대회_data/submission_제출양식.csv')

In [10]:
submission.head()

       id  next_arrive_time
0  210457                 0
1  210458                 0
2  210459                 0
3  210460                 0
4  210461                 0

In [13]:
train.head()

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64

In [14]:
# null 값 확인
train.isnull().sum()

id                  0
date                0
route_id            0
vh_id               0
route_nm            0
now_latitude        0
now_longitude       0
now_station         0
now_arrive_time     0
distance            0
next_station        0
next_latitude       0
next_longitude      0
next_arrive_time    0
dtype: int64

In [15]:
test.isnull().sum()

id                 0
date               0
route_id           0
vh_id              0
route_nm           0
now_latitude       0
now_longitude      0
now_station        0
now_arrive_time    0
distance           0
next_station       0
next_latitude      0
next_longitude     0
dtype: int64

In [16]:
train['date'] = pd.to_datetime(train['date'])

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                210457 non-null  int64
 1   date              210457 non-null  datetime64[ns]
 2   route_id          210457 non-null  int64
 3   vh_id             210457 non-null  int64
 4   route_nm          210457 non-null  object
 5   now_latitude      210457 non-null  float64
 6   now_longitude     210457 non-null  float64
 7   now_station       210457 non-null  object
 8   now_arrive_time   210457 non-null  object
 9   distance          210457 non-null  float64
 10  next_station      210457 non-null  object
 11  next_latitude     210457 non-null  float64
 12  next_longitude    210457 non-null  float64
 13  next_arrive_time  210457 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(4)
memory usage: 22.5+ MB

### X, Y 설정

In [33]:
# 예측할 변수 y 할당
y = train['next_arrive_time']

# y 데이터를 다시 살펴봅니다.
y.head()

0    24
1    36
2    40
3    42
4    64
Name: next_arrive_time, dtype: int64

In [34]:
# 학습에 사용할 변수 X 할당
X = train.loc[:,['route_id', 'vh_id','now_latitude', 'now_longitude','distance','next_latitude'
,'next_longitude']]

### train_test_split(validation data)

In [35]:
import sklearn
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', '_loss', 'base', 'clone', 'config_context', 'decomposition', 'dummy', 'ensemble', 'exceptions', 'externals', 'get_config', 'linear_model', 'logger', 'logging', 'metrics', 'model_selection', 'neighbors', 'os', 'preprocessing', 'random', 'set_config', 'setup_module', 'show_versions', 'svm', 'sys', 'tree', 'utils']

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=226)

In [43]:
display(X_train.shape)
display(y_train.shape)
display(X_test.shape)
display(y_test.shape)

(168365, 7)

(168365,)

(42092, 7)

(42092,)

### 모델 선택

In [37]:
from sklearn.linear_model import LinearRegression

# 모델 선언(선택)
model = LinearRegression()

In [38]:
from sklearn.ensemble import RandomForestRegressor

# 모델 선언(선택)
rf = RandomForestRegressor()

### 모델 학습

In [44]:
model.fit(X_train, y_train)

LinearRegression()

In [45]:
rf.fit(X_train, y_train)

RandomForestRegressor()

In [25]:
# 학습에 사용할 변수 X 할당
test = test.loc[:,['route_id', 'vh_id','now_latitude', 'now_longitude','distance','next_latitude'
,'next_longitude']]

### 모델 예측

In [26]:
# 학습된 모델을 이용해 결괏값 예측 후 상위 10개의 값 확인
predict = model.predict(test)
print('----------------------예측된 데이터의 상위 10개의 값 확인--------------------\n')
print(predict[:10])

----------------------예측된 데이터의 상위 10개의 값 확인--------------------

[ 92.66649251  98.78463578 102.78176251  96.74400871 112.2419948
  86.04020727  97.1345351   86.18396251  96.50596488  93.69804427]

### 모델 검증

In [46]:
pred1 = model.predict(X_test)
pred2 = rf.predict(X_test)

In [48]:
from sklearn.metrics import r2_score

r2_score(y_test, pred1)

0.2223613616585257

In [49]:
r2_score(y_test, pred2)

0.5256533206784649