# 핸드폰 번호 가리기
## https://programmers.co.kr/learn/courses/30/lessons/12948

### 1. 문자열을 리스트에 넣어 하나씩 문자열로 입력받게하자
### 2. 리스트의 뒤에서 4번째 까지의 값을 "*"로 바꾸자
### 3. join을 이용해 리스트 안의 값들을 합치자

In [73]:
def solution(phone_number):
    lst1 = []
    for i in phone_number :
        lst1.append(i)
    lst2 = ["*"]*(len(lst1)-4)
    lst1[:-4] = lst2
    answer = "".join(lst1)
    return answer

In [75]:
# 더 간단한 방법...
def sol(s):
    return "*"*(len(s)-4) + s[-4:]

In [76]:
sol("123456666")

'*****6666'

In [77]:
a = "123456789"

In [78]:
a[-4:]

'6789'

In [74]:
solution('123456789')

'*****6789'

In [2]:
list1 = [000, 111, 222, 333, 444, 555]

In [3]:
list1[:-2]

[0, 111, 222, 333]

In [4]:
list[-2:]

[444, 555]

In [63]:
# # 숫자를 문자열로 입력받아 list에 넣으면 각 자리마다 하나씩 문자열로 나뉘어 입력됨
# a = list(input())
# print(a)

In [46]:
phnum = "12345555"

In [52]:
lst1 = []

In [53]:
for i in phnum :
    lst1.append(i)

In [54]:
lst1

['1', '2', '3', '4', '5', '5', '5', '5']

In [58]:
lst2 = ["*"]*4

In [59]:
lst2

['*', '*', '*', '*']

In [61]:
lst1[-4:] = lst2

In [62]:
lst1

['1', '2', '3', '4', '*', '*', '*', '*']

In [ ]:
# join을 이용해 리스트 안의 자료들 합치기

In [66]:
# join을 이용하여 리스트 합치기 (변수 = "".join(list))
lst3 = "".join(lst1)
lst3

'1234****'